<div class="reactions align-middle">
    <%= for (reaction) in reactions { %>
        <%= if (reaction.IsMadeByCurrentUser) { %>
            <%#= partial("posts/reaction.html") %>
            <%= remoteLinkTo(boardPostReactionEmojiPath({board_id: post.BoardID, post_id: post.ID, emoji: reaction.Emoji}), {data-method: "DELETE"}) { %>
                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="bottom" title="<%= formatUserList(reaction.Users) %>">
                    <%= reaction.Emoji %>
                    <%= len(reaction.Users) %>
                </span>
            <% } %>
        <% } else { %>
            <%#= partial("posts/reaction.html") %>
            <%= remoteLinkTo(boardPostReactionEmojiPath({board_id: post.BoardID, post_id: post.ID, emoji: reaction.Emoji}), {data-method: "POST"}) { %>
                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="bottom" title="<%= formatUserList(reaction.Users) %>">
                    <%= reaction.Emoji %>
                    <%= len(reaction.Users) %>
                </span>
            <% } %>
        <% } %>
    <% } %>

    <a href="#" class="add-reaction btn btn-sm btn-link">
        <i class="icon-smile-o"></i>
    </a>
</div>
