<%= if (post.Draft) { %>
<div class="py-4 mb-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= linkTo(postsPath({drafts: true}), {body: "My drafts"}) %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= linkTo(postPath({post_id: post.ID}), {body: "Draft"}) %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>
    <h3 class="d-inline-block w-100">
        Edit
        <div class="float-right">
                <%= linkTo(postPath({ post_id: post.ID }), {class: "btn btn-danger btn-sm", "data-method": "DELETE", "data-confirm": "Are you sure?"}) { %>
                <i class="icon-trash-o"></i>
                <% } %>
        </div>
    </h3>
</div>
<% } else { %>
<div class="py-4 mb-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= linkTo(postsPath(), {body: "Pains & WTFs"}) %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= linkTo(postPath({post_id: post.ID}), {body: "Post"}) %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>
    <h3 class="d-inline-block w-100">
        Edit
        <div class="float-right">
                <%= linkTo(postPath({ post_id: post.ID }), {class: "btn btn-danger btn-sm", "data-method": "DELETE", "data-confirm": "Are you sure?"}) { %>
                <i class="icon-trash-o"></i>
                <% } %>
        </div>
    </h3>
</div>
<% } %>

<%= formFor(post, {action: postPath({ post_id: post.ID }), method: "PUT"}) { %>
  <%= partial("posts/form.html") %>
<% } %>
