<div class="py-4 mb-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/boards"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= linkTo(boardPath( { board_id: post.BoardID }), { body: post.Board.Name }) %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Post</li>
        </ol>
    </nav>
</div>

<%= formFor(post, {action: postPath({ post_id: post.ID }), method: "PUT"}) { %>
  <%= partial("posts/form.html") %>
<% } %>
