<div class="py-4 mb-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/boards"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= linkTo(boardPath( { board_id: post.BoardID }), { body: post.Board.Name }) %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Post</li>
        </ol>
    </nav>
</div>

<h6 class="col text-right text-secondary user-votes">
    <%= partial("user_votes.html") %>
</h6>

<div class="media raised p-5 post-view" data-post-id="<%= post.ID %>">
    <img class="mr-3" src='<%= postAvatarURL(post) %>' alt="<%= postAuthor(post) %>">
    <div class="media-body">
        <div class="container">
            <div class="row">
                <div class="col-1 align-middle text-center font-weight-bold votes">
                    <%= remoteLinkTo(boardPostVotesPath({ board_id: post.BoardID, post_id: post.ID}), { "data-method": "POST" }) { %>
                    <i class="icon-caret-up"></i>
                    <% } %>
                    <%= partial("boards/post_votes.html")%>
                    <%= remoteLinkTo(boardPostVotesPath({ board_id: post.BoardID, post_id: post.ID}), { "data-method": "DELETE" }) { %>
                    <i class="icon-caret-down"></i>
                    <% } %>
                </div>
                <div class="col-9">
                    <h3 class="d-inline-block w-100">
                        <%= safeTitle(post.Title) %>
                        <%= if (post.Draft) { %>
                        <span class="badge badge-dark">Draft</span>
                        <% } %>
                    </h3>
                    <h6 class="mt-0"><%= postAuthor(post) %> <span class="time-ago"><%= timeAgo(post.CreatedAt) %></span></h6>
                </div>
                <div class="col-2 text-right">
                    <%= if (canManagePost(post)) { %>
                    <%= linkTo(editBoardPostPath({ board_id: post.BoardID, post_id: post.ID }), {class: "btn btn-primary btn-sm", body: "Edit"}) %>
                    <%= linkTo(boardPostPath({ board_id: post.BoardID, post_id: post.ID }), {class: "btn btn-danger btn-sm", "data-method": "DELETE", "data-confirm": "Are you sure?"}) { %>
                    <i class="icon-trash-o"></i>
                    <% } %>
                    <% } %>
                </div>


            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <%= markdown(post.Body) %>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="reactions">
    <%= for (reaction) in reactions { %>
    <%= reaction.Emoji %> <%= len(reaction.Users) %>
    <% } %>
    <%= remoteLinkTo(boardPostReactionEmojiPath({board_id: post.BoardID, post_id: post.ID, emoji: "smile"}), {data-method: "POST"}) { %>
    React!
    <% } %>
</div>



<div id="comments" class="mt-5">
    <div class="spinner">
        <div class="d-flex align-items-center">
            <span class="text-secondary">Loading comments...</span>
            <div class="spinner-border ml-auto text-secondary" role="status" aria-hidden="true"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
 window.onload = function () {
     <%= if (!post.Draft) { %>
         $.ajax({
             method: 'GET',
             url: '<%= postCommentsPath({post_id: post.ID}) %>',
             dataType: 'script',
             contentType: 'text/javascript',
             beforeSend: function() {
                 $("#comments spinner").show();
             }
         });
         <% } %>
 }
</script>
