<%= f.InputTag("Name") %>
<%= f.TextAreaTag("Description", {rows: 10}) %>
<script>
 var easyMDE = new EasyMDE({forceSync: true, promptURLs: true,
                            uploadImage: false,
                            imageCSRFToken: "<%= authenticity_token %>"});
</script>
<label for="board-VotingStrategy.BoardMax">Vote limit per user</label>
<div class="input-group mb-3">
    <input class="form-control" id="board-VotingStrategy.BoardMax" name="VotingStrategy.BoardMax" type="text" value="<%= board.VotingStrategy.BoardMax %>">
    <div class="input-group-append">
        <%= remoteLinkTo(boardRefillPath({board_id: board.ID}), {data-method: "POST", data-disable-with: "<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span> Refilling...", class: "btn btn-outline-secondary"}) { %>
        Refill votes
        <% } %>
    </div>
</div>
<% } %>
<button class="btn btn-success" role="submit">Save</button>
