<tr class='post-row <%= if (post.Draft) { return "post-draft raised" } %>' data-post-id="<%= post.ID %>">
    <td class="align-middle text-center font-weight-bold votes">
        <%= remoteLinkTo(boardPostVotesPath({ board_id: post.BoardID, post_id: post.ID}), { "data-method": "POST" }) { %>
        <i class="icon-caret-up"></i>
        <% } %>
        <%= partial("boards/post_votes.html")%>
        <%= remoteLinkTo(boardPostVotesPath({ board_id: post.BoardID, post_id: post.ID}), { "data-method": "DELETE" }) { %>
        <i class="icon-caret-down"></i>
        <% } %>
    </td>
    <td class="title align-middle">
        <h4>
            <%= linkTo(boardPostPath({ board_id: post.BoardID, post_id: post.ID }), {class: ""}) { %>
            <%= if (post.Draft) { %>
            <%= partial("/posts/draft.html") %>
            <% } %>
            <%= safeTitle(post.Title) %>
            <% } %>
        </h4>
        <%= partial("posts/reactions.html", {post: post}) %>
    </td>
    <td class="align-middle font-weight-light text-nowrap text-truncate">
        <img class="mr-3" width="32" height="32" src='<%= postAvatarURL(post, "small") %>' alt="<%= postAuthor(post) %>" data-toggle="tooltip" title="<%= postAuthor(post) %>">
    </td>
    <td class="align-middle text-right time-ago text-nowrap text-truncate">
        <%= timeAgo(post.CreatedAt) %>
    </td>
</tr>
<%= if (post.Draft) { %>
<tr class="spacer"></tr>
<% } %>

<script type="text/javascript">
 onReady(function () {
     // Duplicated in posts/show.plush.html
     // Generated for every post separately.
     Main.onClick('[data-post-id="<%= post.ID %>"] .add-reaction', function(ev) {
         Main.pickEmoji(ev.target, function(selection) {
             Main.remoteRequest("POST",
                                '<%= boardPostReactionEmojiPath({board_id: post.BoardID, post_id: post.ID, emoji: "' + selection.emoji + '" }) %>');
         })
         return false
     })
 })
</script>
