<%= if (len(boards) == 0) { %>
<h3 class="d-inline-block">Welcome</h3>
<p class="lead">There are no boards yet...
    <%= linkTo(newBoardsPath(), {class: "btn btn-primary btn-small btn-round"}) { %>
    Create New Board
    <% } %>
</p>
<% } else { %>

<div class="py-4 mb-2">
  <h3 class="d-inline-block">Boards</h3>
  <div class="float-right">
      <%= linkTo(newBoardsPath(), {class: "btn btn-round btn-primary", title: "Create new board"}) { %>
      <i class="icon-plus"></i>
      <% } %>
  </div>
</div>

<table class="table table-hover table-noborders">
    <tbody>
        <%= for (board) in boards { %>
            <tr class="clickable" data-href="<%= boardPath({ board_id: board.ID }) %>">
                <td>
                    <%= board.Name %>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
<% } %>


<div class="text-center">
  <%= paginator(pagination) %>
</div>
