<div class="container">
    <div class="row">
        <div class='col-12'>

            <div class="container py-4 mb-2">
                <div class="row">
                    <div class="col align-middle pl-0">
                        <h2 class="d-inline-block w-100">
                            <%= partial("/boards/board_name.plush.html") %>
                            <%= partial("boards/star.html") %>
                            <div class="float-right">
                                <%= if (canManageBoard(board)) { %>
                                    <%= remoteLinkTo(boardPostsPath({ board_id: board.ID }), {class: "btn btn-round btn-primary", data-method: "POST", title: "Create new post"}) { %>
                                        New post
                                    <% } %>
                                    <%= linkTo(editBoardPath({ board_id: board.ID }), {class: "btn btn-round btn-fab btn-warning", title: "Board settings"}) { %>
                                        <i class="icon-cog"></i>
                                    <% } %>
                                    <%= linkTo(boardPath({ board_id: board.ID }), {class: "btn btn-round btn-fab btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", "title": "Delete board"}) { %>
                                        <i class="icon-trash-o"></i>
                                    <% } %>
                                <% } else { %>
                                    <%= remoteLinkTo(boardPostsPath({ board_id: board.ID }), {class: "btn btn-round btn-fab btn-primary", data-method: "POST"}) { %>
                                        <i class="icon-plus"></i>
                                        <% } %>
                                        <% } %>
                                        <button type="button" class="btn btn-info btn-round btn-fab"
                                                data-toggle="popover" title="Share this board"
                                                data-content="<a class='btn btn-small btn-link btn-info copy-board'>copy link <i class='icon-clipboard'></a>">
                                            <i class="icon-share-alt"></i>
                                        </button>
                            </div>

                        </h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row post-list-nav">
                    <h4 class="col-3 pl-0 text-primary user-votes text-uppercase">
                        <%= partial("user_votes.html") %>
                    </h4>

                    <div class="col">
                        <ul class="nav nav-pills nav-pills-secondary float-right">
                            <li class="nav-item">
                                <%= linkTo(boardPath({ board_id: board.ID, order: "top" }), { body: "Top", class: "nav-link " + orderClass("top") }) %>
                            </li>

                            <li class="nav-item">
                                <%= linkTo(boardPath({ board_id: board.ID, order: "newest" }), { body: "Newest", class: "nav-link " + orderClass("newest") }) %>
                            </li>

                        </ul>
                    </div>
                    <%= if (sidebar) { %>
                    <div class="col-4">
                    </div>
                    <% } %>
                </div>

                <div class="row">
                    <div class='col pl-0'>
                        <table class="table table-hover table-small table-noborders mt-3">
                            <tbody>
                                <%= for (post) in posts { %>
                                <tr class="spacer"></tr>
                                <%= partial("boards/post.html", { "post": post }) %>
                                <% } %>
                            </tbody>
                        </table>

                        <div class="text-center">
                            <%= paginator(pagination) %>
                        </div>
                    </div>
                    <%= if (sidebar) { %>
                    <div class="col-4">
                        <p class="d-inline-block"><%= markdown(board.Description.String) %></p>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
