@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "buffalo";

.order-active {
    color: black;
}

.media-small .media-body {
    font-size: 0.9rem;
}

.time-ago {
    color: grey!important;
}
