@import "~bootstrap/scss/bootstrap.scss";

@import "buffalo";
@import "icons";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 25px;
    background: #fff!important;
}

.order-active {
    color: black;
}

.media-small .media-body {
    font-size: 0.9rem;
}

.time-ago {
    color: grey!important;
}

.table-noborders td {
    border-top: none!important;
}

.num-votes {
    margin: 0;
    font-weight: bold;
    margin: -10px 0;
}

.votes a {
    color: black;
    font-size: 2em;
}

.spinner {
    display: none;
}

.main {
    padding-bottom: 30px!important;
}

.editor-toolbar .separator {
    padding: 0!important; /* conflict between easymd & material theme */
}

.clickable {
    cursor: pointer!important;
}

.raised {
  border-radius: 6px;
  // box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 15px 2px rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.14), 0 1px 7px 1px rgba(0, 0, 0, 0.12), 0 1px 1px -1px rgba(0, 0, 0, 0.2);
}

tr.spacer {
    height: 1em;
}

.post-view {
    min-height: 400px!important;
}

.post-list-nav .col {
    padding-left: 0;
}

.post-list-nav .nav-pills {
    padding: 0;
}

.post-list-nav .nav-pills .nav-link {
    padding: 3px!important;
    font-size: 11px!important;
    min-width: 60px!important;
}

#comment-list li {
    margin-bottom: 2em;
}

#comment-list .mic {
    display: none;
}

#comment-list .comment-original-poster .mic {
    display: inline;
}
