// @import "~bootstrap/scss/bootstrap.scss";

@import "buffalo";
@import "icons";
@import "material-kit";

html {
    // position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 25px;
    background: #fff!important;
}

.order-active {
    color: black;
}

.media-small .media-body {
    font-size: 0.9rem;
}

.time-ago {
    color: grey!important;
}

.table-noborders td {
    border-top: none!important;
}

.num-votes {
    margin: 0;
    font-weight: bold;
    margin: -10px 0;
}

.votes a {
    color: black;
    font-size: 2em;
}

.spinner {
    display: none;
}

.main {
    padding-bottom: 30px!important;
}

.editor-toolbar .separator {
    padding: 0!important; /* conflict between easymd & material theme */
}

.clickable {
    cursor: pointer!important;
}

.raised {
  border-radius: 2x;
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.14), 0 1px 2px 1px rgba(0,0,0,0.12), 0 1px 1px -1px rgba(0,0,0,0.2)
}

tr.spacer {
    height: 1em;
}

.post-view {
    min-height: 400px!important;
    overflow: scroll;
}

.post-list-nav .col {
    padding-left: 0;
}

.post-list-nav .nav-pills {
    padding: 0;
}

.post-list-nav .nav-pills .nav-link {
    padding: 3px!important;
    font-size: 11px!important;
    min-width: 60px!important;
}

#comment-list li {
    margin-bottom: 2em;
}

#comment-list .mic {
    display: none;
}

#comment-list .comment-original-poster .mic {
    display: inline;
}

.icon-large {
    font-size: 1.5em;
}

footer {
    margin-top: 30px;
}

.reactions {
}

.reactions .badge {
    font-size: 0.8em;
    border-radius: 8px;
}

.reactions .add-reaction {
    font-size: 1.3em!important;
    padding: 0!important;
}





.tooltip {
  position: absolute!important;
  z-index: 1070!important;
  display: block!important;
  margin: 0!important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important;
  font-style: normal!important;
  font-weight: 400!important;
  line-height: 1.5!important;
  text-align: left!important;
  text-align: start!important;
  text-decoration: none!important;
  text-shadow: none!important;
  text-transform: none!important;
  letter-spacing: normal!important;
  word-break: normal!important;
  word-spacing: normal!important;
  white-space: normal!important;
  line-break: auto!important;
  font-size: 0.875rem!important;
  word-wrap: break-word!important;
  opacity: 0!important;
}

.tooltip.show {
  opacity: 0.9!important;
}
