<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Buffalo - Rally</title>
        <%= stylesheetTag("application.css") %>
        <meta name="csrf-param" content="authenticity_token" />
        <meta name="csrf-token" content="<%= authenticity_token %>" />
        <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">

        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
        <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    </head>
    <body>

        <div class="container">
            <%= if (current_user) { %>
              <%= current_user.Email %>
              <%= linkTo(authPath(), {data-method: "DELETE"}){ %>Sign Out<% } %>
              <%= partial("user_votes.html") %>
            <% } %>

            <%= partial("flash.html") %>
            <%= yield %>
        </div>

        <%= javascriptTag("application.js") %>
    </body>
</html>
