<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, name="viewport" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>?!</title>
        <%= stylesheetTag("application.css") %>
        <meta name="csrf-param" content="authenticity_token" />
        <meta name="csrf-token" content="<%= authenticity_token %>" />
        <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
        <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
        <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container">
                <a href="/dashboard" class="navbar-brand">
                    <div class="logo-image">
                        <i class="icon-home"></i>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto mr-2 mt-lg-0">
                        <%= if (recentBoards) { %>
                        <% let recentBoards = recentBoards() %>
                        <%= if (currentBoard && recentBoards) { %>
                        <li class="nav-item">
                            <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle pl-2 pr-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= currentBoard.Name %>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <%= for (board) in recentBoards { %>
                                    <%= linkTo(boardPath({ board_id: board.ID }), { class: "dropdown-item" }) { %>
                                       <span class="mr-1""><%= board.Name %></span>
                                       <%= if (board.UserStarred) { %>
                                        <i class="icon-star"></i>
                                       <% } %>

                                    <% } %>
                                <% } %>

                                <%= linkTo(boardsPath(), { body: "Browse all boards...", class: "dropdown-item" }) %>
                            </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <%= linkTo(newBoardsPath(), {class: "btn btn-primary btn-large pl-2 pr-2", title: "Create new board"}) { %>
                            <i class="icon-plus icon-large"></i>
                            <% } %>
                        </li>
                        <% } %>
                        <% } %>
                    </ul>

                    <ul class="navbar-nav mr-auto mr-2 mr-lg-0">
                        <%= if (current_user) { %>
                        <span class="navbar-text">
                            <img width="24" height="24" src='<%= userAvatarURL("tiny") %>' alt='<%= current_user.Email %>' data-toggle="tooltip" title='<%= current_user.Email %>'></img>
                        </span>

                        <li class="nav-item">
                            <%= linkTo(authPath(), {data-method: "DELETE", class: "nav-link"}){ %>Sign out<% } %>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <main role="main">
            <div class="container">
                <!-- <%= partial("flash.html") %> -->
                <%= yield %>
            </div>
        </main>
        <footer>
            <%= linkTo(changelogPath(), {class: "btn btn-link"}) { %>
            <i class="icon-file-text-o"></i> Changelog
            <% } %>
        </footer>

        <%= javascriptTag("application.js") %>
    </body>
</html>
