<%# REMEMBER TO UPDATE _list.plush.html %>
<li class='media media-small <%= if (isOriginalPosterComment(comment, post)) { return "comment-original-poster" } %>' data-comment-id="<%= comment.ID %>">
    <img class="mr-3" src='<%= commentAvatarURL(comment) %>' alt='<%= commentAuthor(comment) %>'>
    <div class="media-body">
        <h6 class="mt-0">
            <%= commentAuthor(comment) %> <span class="time-ago"> <span class="badge badge-warning badge-pill mic" data-toggle="tooltip" title="Comment by the post's author."><i class="icon-bullhorn"></i></span> <%= timeAgo(comment.CreatedAt) %>

            <%= if (canManageComment(comment)) { %>
                <%= remoteLinkTo(postCommentPath({ post_id: comment.PostID, comment_id: comment.ID }), { "class": "text-danger", "data-method": "DELETE", data-confirm: "Are you sure?" }) { %>
                <span class="icon-trash-o"></span>
                <% } %>
            <% } %>
        </h6>
            <%= markdown(comment.Body) %>
    </div>
</li>
