<%= remoteFormFor(comment, {action: postCommentsPath({post_id: comment.PostID}), method: "POST"}) { %>
<%= f.TextAreaTag("Body", {rows: 4, label: "New comment"}) %>
<button class="btn btn-sm btn-success" role="submit">Submit</button>
<% } %>


<div class="py-4 mb-2">
    <%# duplicated in partial %>
    <h5 id="comment-list-head" class="d-inline-block"><%= len(comments) %> <%= maybePluralize("Comment", len(comments)) %></h5>
</div>

<ul id="comment-list" class="list-unstyled">
    <%= for (comment) in comments { %>
    <li class="media media-small" data-comment-id="<%= comment.ID %>">
        <img class="mr-3" src='<%= commentAvatarURL(comment) %>' alt='<%= commentAuthor(comment) %>'>
        <div class="media-body">
            <h6 class="mt-0">
                <%= commentAuthor(comment) %> <span class="time-ago"><%= timeAgo(comment.CreatedAt) %>

                <%= if (canManageComment(comment)) { %>
                    <%= remoteLinkTo(postCommentPath({ post_id: comment.PostID, comment_id: comment.ID }), { "data-method": "DELETE", data-confirm: "Are you sure?" }) { %>
                        Delete
                    <% } %>
                <% } %>
            </h6>
                <%= markdown(comment.Body) %>
        </div>
    </li>
    <% } %>
</ul>
