<div class="py-4 mb-2">
  <h3 class="d-inline-block">Comment Details</h3>

  <div class="float-right">
    <%= linkTo(commentsPath(), {class: "btn btn-info"}) { %>
      Back to all Comments
    <% } %>
    <%= linkTo(editCommentPath({ comment_id: comment.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(commentPath({ comment_id: comment.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">PostID</label>
    <p class="d-inline-block"><%= comment.PostID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">AuthorID</label>
    <p class="d-inline-block"><%= comment.AuthorID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Body</label>
    <p class="d-inline-block"><%= comment.Body %></p>
  </li>


</ul>
