<style>
  .auth-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .auth-wrapper .sign-form{
    max-width: 350px;
    width: 100%;
    padding: 0 20px;
  }

  .auth-wrapper h1{margin-bottom: 20px;}
</style>

<div class="auth-wrapper">
  <div class="sign-form">
    <h1>Sign In</h1>


    <%= if (loginFormEnabled) { %>
      <%= formFor(user, {action: authPath()}) { %>
        <%= f.InputTag("Email") %>
        <%= f.InputTag("Password", {type: "password"}) %>
        <button class="btn btn-success btn-sm">Sign In</button>
        <%= linkTo(authProviderPath({ provider: "google" }), { class: "btn btn-secondary btn-sm" }) { %>
        <i class="icon-google"></i> Google
        <% } %>
        <%= if (signupEnabled) {%>
          <%= linkTo(newUsersPath(), {class: "btn btn-link btn-sm"}){ %>Sign up<% } %>
        <% } %>
      <% } %>
    <% } else { %>
        <%= linkTo(authProviderPath({ provider: "google" }), { class: "btn btn-primary btn-sm" }) { %>
        <i class="icon-google"></i> Google
        <% } %>
    <% } %>
  </div>
</div>
